.infoList {
    list-style: none;
    overflow: scroll;
}
.infoList .row {
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.infoList .row:last-child {
    border-bottom: none;
}
.prop {
    width: 100px;
    flex-shrink: 0;
}
.subProp {
    width: 200px;
    flex-shrink: 0;
}
.info {
    flex-grow: 1;
}