header {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
footer {
    text-align: center;
    height: 20px;
}
.content {
    flex-grow: 1;
    padding: 0 15px;
    overflow: hidden;
}
.content > .page {
    display: flex;
    flex-direction: column;
    height: 100%;
}