.movieListItem {
    margin: 10px 0;
}
.movieListItem a {
    display: flex;
    align-items: center;
    color: black;
}
.movieListItem img {
    width: 60px;
    height: 60px;
}
.movieListItem span {
    margin-left: 15px;
    flex-grow: 1;
}